
@{
    ViewBag.Title = "Index";
}

<p><a href="@Url.Action("Index","Game")" class="btn btn-primary btn-lg">Ir al Game  &raquo;</a></p>
<p><a href="@Url.Action("ABMPer","BackOffice")" class="btn btn-success btn-lg">ABM de Personajes &raquo;</a></p>
<p><a href="@Url.Action("MostrarLista","Game")" class="btn btn-primary btn-lg">Mostrar la lista &raquo;</a></p>

<h2>Index</h2>

