@using QEQ.Models;
@{
    ViewBag.Title = "MostrarLista";
}

<h2>Listado de personajes</h2>
<table style="border: 2px solid">
   
    <tr style="border: 2px solid">
        <th>Nombre</th>
        <th>Foto</th>
        <th>Categoria</th>
        <th></th>
        <th></th>
   </tr>
    @foreach (Personaje p in ViewBag.Lista)
    {
        <tr style="border: 1px solid">
            <td>@p.Nombre</td>
            <td> <img src="~/Content/@p.Foto" width="100"/> </td>
            <td>@p.Categoria</td>
            <td>@Html.ActionLink("Modificar  ", "ModificarP", "BackOffice", new { id = p.IdPersonaje }, null)</td>
            <td>@Html.ActionLink("Eliminar",  "EliminarP",  "BackOffice", new { id = p.IdPersonaje }, null)</td>
        </tr>
    }
</table>