
.FondoAbout {
    background-color: #3CBC8D;
}

.TextLoginReg {
    
    margin: 30px 50px;
    padding: 0;
    font-size: 15px;
}

.ATitle {
    color: white;
   text-align: center;
    font-family: verdana;
max-width: 1200px;
}

.AText {
text-align: center;
    max-width: 1200px;
    font-family: verdana;
    font-size: 18px;
color: white;
}

.btnClassS {
    margin: 10px 20px ;
    padding: 10px 1px 10px 10px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}

    .btnClassS:hover {
        background-color: #3bd96a;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

.Title {
    background-color: #3CBC8D;
    color: white;
    padding: 10px 10px;
}

.loginBox {
    margin:auto;    
    box-sizing: border-box;
    box-shadow: 0 5px 4px 0 rgba(181,181,181,.7);
    width: 360px;
    right: 10px;
    min-height: 350px;
    z-index: 1;
    padding: 20px 15px;
    border-top: 1px solid #f1f1f5;
}

.inputext {
    margin: 10px 27px;
    border-top: 0.3px solid #909090;
    border-bottom: 0.3px solid #909090;
    border-right: 0.3px solid #909090;
    border-left: 6px solid #007407;
    margin-bottom: 10px;
    box-sizing: initial;
    width: 100%;
    padding: 10px 10px 10px 10px;
    
}

.TPuntos {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 7px 7px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    color: white;
    background-color: tomato;
    font-family: Verdana;
}
.galeria img {
    width: 185px;
    height: auto;
    margin-top: 11px;
    margin-left: 9px;
    border-color: black;   
   
}

    .galeria img:hover {
        width: 220px;
        height: auto;
        border: 2px solid black;
    }

.PregBox {
    box-sizing: border-box;
    box-shadow: 0 5px 4px 0 rgba(181,181,181,.7);
    width: 27%;
    height: 2000px;
    border-top: 1px solid #f1f1f5;
    float: left;
}
.link {
    border-bottom: 2px dotted #55acee;
    text-decoration: none;
    color: #55acee;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
}

    .link:hover {
        color: #2ecc71;
        border-bottom: 2px dotted #2ecc71;
    }

.btn {
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    font-size: 22px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    display: inline-block;
}

    .btn:hover {
        cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
    }

.blue {
    font-weight: bolder;
    color: #55acee;
    border: 2px #55acee solid;
}

    .blue:hover {
        background-color: #55acee;
        color: #fff
    }

.green {
    font-weight: bolder;
    color: #2ecc71;
    border: 2px #2ecc71 solid;
}

    .green:hover {
        color: #fff;
        background-color: #2ecc71;
    }

.red {
    font-weight: bolder;
    color: #e74c3c;
    border: 2px #e74c3c solid;
}

    .red:hover {
        color: #fff;
        background-color: #e74c3c;
    }

.CentrarBotones {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
.divJPM {
    width: 100%;
    margin-top: 20px;
    margin-right: 60px;
}
.Textpreg {
    width: 80%;
    font-weight: bolder;
}

.Categoria {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 7px 7px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    color: white;
    background-color: royalblue;
    font-family: Verdana;
}

.DDLClass {
    margin: 10px 20px;
    padding: 10px 1px 10px 10px;
    background-color: tomato;
    color: white;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}
.FinalizarPart img{
    width: 185px;
}

.RankHistorial{
    margin-right: 5px;
    float:left
}

.HtmlTextBox {
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
}
