
@{
    ViewBag.Title = "EliminarP";
}

<h2>EliminarP</h2>
@using QEQ.Models

Estas Segure?
<form method="post" action="@Url.Action("BorrarPer", "BackOffice",new { Nombre = ViewBag.Nombre})">
    <input type="button" name="Confirmacion" value="Si" />
    <input type="button" name="Confirmacion" value="No" />
</form>