
@{
    ViewBag.Title = "ModificarCat";
}

<h2>Modifica la Categoria @ViewBag.Cat </h2>
<form action="@Url.Action("ModificarCate","BackOffice", new { Cat = ViewBag.Cat})" method="post">
    <input type="text" name="NewCat" />
    <input type="radio" name ="tipo" value="true" /> Categoria (de Personajes) <br/>
    <input type="radio" name="tipo" value="false" /> Grupo (de preguntas) <br />
    <input type="submit" name = "cargar" value="Cargar" />"
</form>
