
@{
    ViewBag.Title = "ModificarCar";
}

<h2>Modifica una Caracteristica</h2>


@using QEQ.Models
@model QEQ.Models.Preg

@using (Html.BeginForm("ModificarCar", "BackOffice", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="hidden" name="IdPersonaje" value=@Model.Id /><br />
    @Html.Label("Texto") @Html.TextBoxFor(P => P.Texto, new { Car =ViewBag.Car })<br />
    @Html.Label("Grupo") @Html.DropDownListFor(P => P.Grupo, new SelectList(ViewBag.ListaCat)) <br />
    <input type="submit" value="Proceder" />
}