@{
    ViewBag.Title = "Desarrolladores";
}

<h1>bienvenido a la pagina de desarrolladores </h1><br />
<h4>hola usted acaba de entrar a la vista de desarrollades donde podra conocer un poco mas de nosotros</h4><br />
<img src="~/Content/who is who.jpg" /><br /><br />
<h7>portada de nuestro juego fisico</h7><br /> <br />
<h5 align="left">Nicolas Margossian</h5>
<h5 align="right">Ezequiel Kemeny</h5>
<img src="~/Content/margo.jpg" width="150" /> <img src="~/Content/zeky.jpg" width="150" align="right" /> <br /> <br />
<h5 align="left">Jon Gibaut</h5>
<h5 align="right">Jonathan Liu</h5>
<img src="~/Content/facha de jon.jpg" width="120" /> <img src="~/Content/goku.png" width="150" align="right" /> <br /> <br />

<h2>desarrollado por Nicolas Margossian, Ezequiel Kemeny, Jon gibaut, Jonathan Liu</h2><br />