@using QEQ.Models
@model QEQ.Models.Personaje
@{
    ViewBag.Title = "Unirse Partida";
}
<h2 class="text-center btn btn-success" style="margin-left: 40%; margin-top: 6rem;">Elija un personaje para su rival</h2> <br />

    <div class="galeria">
        @{
            foreach (Personaje personaje in ViewBag.Personajes)
            {
                <a href='@Url.Action("UnirJ", "Game", new { idPersonaje = personaje.Id })'><img src="@personaje.Direccion" /></a>
            }
        }
    </div>