@{
    ViewBag.Title = "Comienzo";
}

@using (Html.BeginForm("StartS", "Game", FormMethod.Post))
{
    <h2 class="Categoria">Elige la Categoría de Personajes</h2><br />
    @Html.DropDownList("idCategoria",new SelectList(ViewBag.Cats, "Id", "Nombre"), new { @class = "DDLClass" }) <br />    
      <input type="submit" name="cargar" value="Empezar" class="btnClassS" />
}

