
@using QEQ.Models
@{
    ViewBag.Title = "Comienzo";
}

<h2>Agregar una nueva Categoria</h2>

@using (Html.BeginForm("Start1", "Game", FormMethod.Post))
{
    @Html.Label("Elije la Categoría de Personajes")<br />
    @Html.DropDownList("idCategoria",new SelectList(ViewBag.Cats, "Id", "Nombre")) <br />
    <input type="submit" name="cargar" value="Empezar" />
}