<script>
    function Alerta() {
        alertify.alert('Disculpe, el modo contra la computadora esta en mantenimiento');
    }
</script>
@{
    ViewBag.Title = "TypeGame";
}

<h2 class="TPuntos">Elige a continuacion el modo de juego</h2>
<a href="@Url.Action("StartS", "Game")" class="btn blue CentrarBotones">Single Player</a>  <br /><br /><br /><br />
<a href="@Url.Action("BuscarPartidasM", "Game")" class="btn green CentrarBotones">Multi Player</a><br /><br /><br /><br />
<a onclick="Alerta()" class="btn red CentrarBotones">Player Vs Com1</a>

