<script>
    function 
    a() {
        alertify.alert('Disculpe, el modo contra la computadora esta en mantenimiento');
    }
</script>
@{
    ViewBag.Title = "TypeGame";
}
        <div class="divTG">

            <div class="container" >
                <div class="row" style="margin-top: 40%;">
                    <div class="col-md-9 col-md-offset-2" >
                        <a href="@Url.Action("StartS", "Game")">
                            <div class="boton-tipo2">
                                <div>
                                    <span>SINGLEPLAYER</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-md-offset-5" style="margin-top:5.5rem;">
                        <a href="@Url.Action("BuscarPartidasM", "Game")">
                            <div class="boton-tipo2">
                                <div>
                                    <span>MULTIPLAYER</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>

   
    

   



