
@{
    ViewBag.Title = "TypeGame";
}

<h2>Como queres jugar? </h2>
<a href="@Url.Action("Start1", "Game")" class="btn btn-primary btn-lg">Single Player &raquo;</a>
<a href="@Url.Action("---", "Game")" class="btn btn-success btn-lg">Multi Player &raquo;</a>
<a href="@Url.Action("---", "Game")" class="btn btn-warning btn-lg">Player Vs Com1 &raquo;</a>

