@{
    ViewBag.Title = "WaitingRoom";
}

  <h2>Bienvenido a la WaitingRoom</h2>
   <h4>Espera unos segundos hasta que un usuario se una a tu partida</h4>
<script>   
        window.location.href = "@Url.Action("Turnos","Game")";     
</script>

