@{
    ViewBag.Title = "Sala De Espera";
}    
@using QEQ.Models;
    <h2>WaitingRoomM</h2>
    <h4>Espere en la sala hasta que se una un jugador</h4><br />
     
<script>           
        window.location.href= "@Url.Action("Turnos","Game")"       
</script>


