<link href="~/Content/MiCSS.css" type="text/css" rel="stylesheet">
<h1 class="Title">Reglas!</h1>
<div class="FondoAbout">
    <b class="AText">No sabes Jugar? Quedate tranquilo que en este apartado te contaremos todo!</b>
    <div class="ATitle">
        <h2 class="ATitle">Objetivo</h2>
        <p class="AText">
            El objetivo del juego es
            adivinar el personaje realizando las preguntas correctas para ir descartando a los mismos, arriesgando y obteniendo la victoria.
        </p>

    </div>
    <div class="ATitle">
        <h2 class="ATitle">Singleplayer</h2> <br />
        <p class="AText">
            En el modo singleplayer el objetivo es ganar la partida adivinando tu personaje con la mayor cantidad de puntos posibles. 
            Cada partida se comienza con 10000 puntos y dependiendo de la pregunta estos se van restando. Algunas preguntas restan mas que otras,
            y cada vez que se arriesga un personaje se restan 1500 puntos. En el caso de quedarse sin puntos se pierde la partida.             
             
        </p>

    </div>
    <div class="ATitle">
        <h2 class="ATitle">Multiplayer </h2> <br />
        <p class="AText">En el modo multiplayer el objetivo es adivinar el personaje antes que tu oponente. 
        Cada uno tiene un tiempo maximo para preguntar o arriesgar de 2 minutos antes que se cambie el turno.
        En este modo de juego no se contempla el sistema de puntos como en singleplayer y debes ser mas astuto 
        que tu oponente.
         </p>
    </div>
</div>
