<link href="~/Content/MiCSS.css" type="text/css" rel="stylesheet">
<h1>Reglas!</h1>
<h2 class="lead">No sabes Jugar? Quedate tranquilo que en este apartado de contaremos todo!</h2>  
<div class="FondoAbout">
    <div class="ATitle">
        <h2 class="ATitle">Objetivo</h2>
        <p class="AText">
            El objetivo del juego es
            adivinar el personaje que
            nuestro fantastico programa
            con inteligencia artificial
            eligio para vos.
        </p>

    </div>
    <div class="ATitle">
        <h2 class="ATitle">Puntos</h2>
        <p class="AText">A medida que vayas ganando partidas contra la computadora, se te van a ir acomulando puntos. Por cada vez que preguntas se te restan una cierta cantidad 
        de puntos, pero ten cuidado que algunas preguntas quitan mas puntos que otras. Por cada partida que jueges tus puntos son acumulables por lo que si juegas muchas partidas 
        podras entrar en la tabla de los mejores jugadores.</p>
        
    </div>
    <div class="ATitle">
        <h2 class="ATitle">Arriesgar </h2>
        <p class="AText">Ni el programador sabe como se debe arriesgar we xd </p>        
    </div>
</div>