<link href="~/Content/MiCSS.css" type="text/css" rel="stylesheet">
    <h1 class="Title">Bienvenido a la pagina de desarrolladores </h1><br />
    <div class="FondoAbout">
        <h3 class="ATitle">Hola, usted acaba de entrar a la vista de desarrollades donde podra conocer un poco mas de nosotros.</h3><br />
        <h3 class="AText">Somos CGCS este es nuestro nuevo proyecto Quien es Quien(Q.E.Q), somos un grupo de desarrolladores de la escuela Ort sede almagro, esperamos llegar con esta compañia a niveles nunca antes visto. </h3><br />
        <h3 class="AText">Gracias por probar nuestro producto!</h3>
        <h3 class="ATitle">Desarrollado por Nicolas Margossian, Ezequiel Kemeny, Jon gibaut, Jonathan Liu</h3><br />
        <p>Bienvenido al mejor juego de 4IA ORT Sede Almagro del Quien Es Quien desarollado por CGCS Corp (Nicolas Margossian, Ezequiel Kemeny, Jon gibaut, Jonathan Liu) 2018 <br /><br /> Juego Quien Es Quien Remasterizado por Nicolas Margossian, Chiara Tanzi, Mateo Frontera para la competancia de juegos Universidad de Belgrano 2022 Xd </p>
    </div>
