@{
    if (ViewBag.Estado == 1)
    {
        <script type="text/javascript">alertify.alert('Se modificaron todos sus datos satisfactoriamente')</script>
    }
    else if (ViewBag.Estado == 2)
    {
        <script type="text/javascript"> alertify.alert('Se cambio su contraseña satisfactoriamente')</script> 
        
    }
}
        <div class="jumbotron">
            <img src="~/Content/LOGO.jpg" width="300" alt="Logo" align="right" />
            <h1>¿Quien Es Quien?</h1>
            <p class="lead"> Bienvenido al mejor juego de 4IA ORT Sede Almagro del Quien Es Quien desarollado por CGCS Corp (Nicolas Margossian, Ezequiel Kemeny, Jon gibaut, Jonathan Liu) 2018 <br /><br /> Juego Quien Es Quien Remasterizado por Nicolas Margossian, Chiara Tanzi, Mateo Frontera para la competancia de juegos Universidad de Belgrano 2022 Xd </p>
            <p> <a href="@Url.Action("TypeGame", "Game")" class="btn btn-primary btn-lg">Comienza a Jugar! &raquo;</a><a href="@Url.Action("Ranking", "Home")" class="btn btn-danger btn-lg">Ver ranking &raquo;</a></p>
            @{

                if (Convert.ToString(Session["Admin"]) == "Admin")
                {
                    <p> <a href="@Url.Action("Index", "BackOffice")" class="btn btn-success btn-lg">Area 51 &raquo;</a></p>
                }
            }
        </div>
