@{
    if (ViewBag.Estado == 1)
    {
        <script type="text/javascript">alertify.alert('Se modificaron todos sus datos satisfactoriamente')</script>
    }
    else if (ViewBag.Estado == 2)
    {
        <script type="text/javascript"> alertify.alert('Se cambio su contraseña satisfactoriamente')</script> 
        
    }
}

<div class="div-bg-index">

    <div class="divqeq">
        <div class="text-center" style="margin-top: 15rem; transform: rotate(15deg);">
            <img style="width:28.5%; margin-top:2.5rem;" src="~/Content/QEQBanner.png" />
        </div>
    </div>
    <div class="divqeq2">
        <div class="container">
            <div class="row enderezar">
                <div class="">
                    <a href="@Url.Action("TypeGame", "Game")">
                        <div class="boton-tipo1">
                            <div>
                                <span>Jugar!</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div style="margin-top:10px;">
                    <a href="@Url.Action("Ranking", "Home")">
                        <div class="boton-tipo1">
                            <div>
                                <span>Ranking</span>
                            </div>
                        </div>
                    </a>
                </div>
                @{
                    if (Convert.ToString(Session["Admin"]) == "Admin")
                    {
                        <div style="margin-top:10px;">
                            <a href="@Url.Action("Index", "BackOffice")">
                                <div class="boton-tipo1">
                                    <div>
                                        <span>Area 51</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }
         

            </div>

        </div>
    </div>


</div>



