@{
    if (ViewBag.Estado == 1)
    {
        <script type="text/javascript">alert('Se modificaron todos sus datos satisfactoriamente')</script>
    }
}
<div class="jumbotron">
    <img src="~/Content/LOGO.png" width="300" alt="Logo" align="right" />
    <h1>¿Quien Es Quien?</h1>
    <p class="lead"> Bienvenido al mejor juego de 4IA del Quien Es Quien desarollado por CGCS Corp </p>
    <p> <a href="@Url.Action("TypeGame", "Game")" class="btn btn-primary btn-lg">Acceder al juego &raquo;</a></p>
    @{

        if (Convert.ToString(Session["Admin"]) == "Admin")
        {
            <p> <a href="@Url.Action("Index", "BackOffice")" class="btn btn-success btn-lg">Area 51 &raquo;</a></p>
        }
    }
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Cebofest</h2>
        <p>
            Conoce al chanchiten que hace que luna
            se ponga en modo locura cebollal.
            Cebolla tiene 42 cebollines y les
            alumnes de 4IA van a realizar una super
            hyper duper mega cebofest para decir cebo sin parar.
        </p>
        <p><a class="btn btn-info" href="https://www.google.com.ar/search?q=cebolla&safe=active&source=lnms&tbm=isch&sa=X&ved=0ahUKEwirmp7WiLjdAhWMIpAKHXPLCNcQ_AUICigB&biw=1366&bih=662#imgrc=p4DaDgA1Z8QbfM:">Mira al cebolla &raquo;</a></p>
    </div>
</div>