
@{
    ViewBag.Title = "Ranking";
    int i = 0;
}
@using QEQ.Models
<div class="container" style="background-color: white; margin-top: 10rem; border: solid 1px black">
    <h2>Ranking de jugadores</h2>
    <br />
    <table class="table table-bordered">
        <tr>
            <th>Puesto</th>
            <th>Jugador</th>
            <th>Puntos</th>
            <th>Cantidad de Preguntas</th>
            <th>Personaje Jugado</th>
        </tr>
        @while (i < 5 && i < BD.Ranking.Count)
        {
            <tr>
                <td>Top @i </td>
                <td>@BD.BuscarUsuario(BD.Ranking[i].Usuario1).Username</td>
                <td>@BD.Ranking[i].Puntos.ToString()</td>
                <td>@BD.Ranking[i].CantPreguntas.ToString()</td>
                <td> <img style="" width="137" class="img-responsive" src="@BD.Ranking[i].Personaje1.Direccion"  /></td>
            </tr>
            i++;
        }

    </table>


</div>


