
@{
    ViewBag.Title = "AgregarCat";
}

<h2>Agregar una nueva Categoria</h2>

<form action="@Url.Action("AgregarCat","BackOffice")" method="post">
    <input type="text" name="Cat" />
    <input type="radio" name="tipo" value="true" /> Categoria (de Personajes) <br />
    <input type="radio" name="tipo" value="false" /> Grupo (de preguntas) <br />
    <input type="submit" name="cargar" value="Cargar" />"
</form>
