
@{
    ViewBag.Title = "EliminarP";
}

<h2>Eliminar Personaje</h2>

Estas Segure?
<form method="post" action="@Url.Action("BorrarPer", "BackOffice")">
    <input type="hidden" name="Nombre" value="ViewBag.Nombre" />
    <input type="button" name="Confirmacion" value="Si" />
    <input type="button" name="Confirmacion" value="No" />
</form>