
@{
    ViewBag.Title = "Borrar Categoria";
}
@using QEQ.Models
<h2>Borrar la Categoria @BD.BuscarCat(ViewBag.Id,BD.Categorias).Nombre</h2>


Estas Seguro?
<form method="post" action="@Url.Action("BorrarCat", "BackOffice")">
    <input type="hidden" name="Id" value="@ViewBag.Id" />
    <input type="submit" name="Confirmacion" value="Si" />
    <input type="submit" name="Confirmacion" value="No" />
</form>