
<h2>Borrar la Categoria</h2>


Estas Seguro?
<form method="post" action="@Url.Action("BorrarCat", "BackOffice",new { Nombre = ViewBag.Nombre})">
    <input type="submit" name="Confirmacion" value="Si" />
    <input type="submit" name="Confirmacion" value="No" />
</form>