
@{
    ViewBag.Title = "Index";
}
<h2>Menu ABM</h2>
<p><a href="@Url.Action("TypeGame","Game")" class="btn btn-primary btn-lg">Ir al Game  &raquo;</a></p>
<p><a href="@Url.Action("ABMPer","BackOffice")"><img src="~/Content/ABMPer.png" width="300" height="75" /></a></p>
<p><a href="@Url.Action("ABMCat","BackOffice")"><img src="~/Content/ABMCat.png" width="300" height="75" /></a></p>
<p><a href="@Url.Action("ABMCar","BackOffice")"><img src="~/Content/ABMCar.png" width="300" height="75" /></a></p>

